.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  gap: 2rem;
  align-self: start;
}

.statistics-wrapper {
  display: grid;
  grid-template-columns: 10;
  grid-template-rows: 10;

  &__doughnuts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
