<h1>Račun</h1>
<div class="page-wrapper">
    <div class="score-row">
        <p class="row-text username">{{authService.getUser()?.username}}</p>
        <p class="row-text total-score" [innerHTML]="totalScore | progDemosHead"></p>
    </div>
    <p-button (onClick)="signOut()" label="Odjava" type="submit" icon="pi pi-sign-out" severity="danger" />

    <p-progressSpinner *ngIf="solutionAttempts === null"></p-progressSpinner>

    <div class="statistics-wrapper" *ngIf="solutionAttempts !== null">
        <div class="total-stats">
            <p-chart type="radar" [responsive]="true" [height]="'60vh'" [data]="radarData" [options]="radarOptions" />
        </div>
        <div>
            <div class="statistics-wrapper__doughnuts">
                <div *ngFor="let subtopicWithAttempts of solutionAttempts.solutionAttemptsPerSubtopic">
                    <p-chart type="doughnut" *ngIf="subtopicWithAttempts.totalTasksInSubtopicCount > 0"
                        [data]="getDataForCurrentAttempt(subtopicWithAttempts)"
                        [options]="getOptionsForCurrentAttempt(subtopicWithAttempts)" />
                </div>
            </div>
        </div>
    </div>
</div>