<h1>Račun</h1>
<div class="page-wrapper">
    <div class="score-row">
        <p class="row-text username">{{authService.getUser()?.username}}</p>
        <p *ngIf="totalScore !== null;else scoreLoader" class="row-text total-score"
            [innerHTML]="totalScore | progDemosHead">
        </p>
        <ng-template #scoreLoader>
            <div class="score-row__loader">
                <p-progressSpinner ariaLabel="loading" [style]="{ width: '100%', height: '100%' }" />
            </div>
        </ng-template>
    </div>
    <p-button (onClick)="signOut()" label="Odjava" type="submit" icon="pi pi-sign-out" severity="danger" />

    <p-progressSpinner *ngIf="solutionAttempts === null"></p-progressSpinner>

    <div class="statistics-wrapper" *ngIf="solutionAttempts !== null">
        <div class="total-stats">
            <p-chart type="radar" [height]="'500px'" [responsive]="true" [data]="radarData" [options]="radarOptions" />
        </div>
        <div class="statistics-wrapper__doughnuts">
            <div *ngFor="let subtopicWithAttempts of solutionAttempts.solutionAttemptsPerSubtopic">
                <p-chart [width]="doughnutsWidthPx+'px'" type="doughnut"
                    *ngIf="subtopicWithAttempts.totalTasksInSubtopicCount > 0"
                    [data]="getDataForCurrentAttempt(subtopicWithAttempts)"
                    [options]="getOptionsForCurrentAttempt(subtopicWithAttempts)" />
            </div>
        </div>
    </div>
</div>