@import "./../../../styles/variables.scss";

.wrapper {
  flex-direction: column;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-form {
  display: flex;
  height: 100%;
  max-height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 50px;
}
