@import "../../../../../styles/variables.scss";

.help-dialog-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.help-step-tabs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;

  height: 100%;
  width: 200px;

  small {
    padding-right: 10px;
  }
}

.help-step-tab {
  padding: 10px;
  width: 12rem;
  background: linear-gradient(50deg, darken($accent, 40%), $dark-accent);
  box-shadow: $accent 0px 1px 10px, $accent 0px 0px 0px 2px;

  user-select: none;

  transition: box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    box-shadow: $accent 0px 1px 20px, $accent 0px 0px 0px 2px;
  }

  &.current-tab {
    color: $accent-light;
    box-shadow: $accent-light 0px 1px 20px, $accent-light 0px 0px 0px 2px;
  }

  &.unlocked-tab {
    color: $accent;
    cursor: pointer;
  }

  &.locked-tab {
    color: $primary;
    box-shadow: $primary 0px 1px 20px, $primary 0px 0px 0px 2px;
  }
}

.tab-lock {
  color: $accent;
  text-align: center;
  box-shadow: $accent 0px 1px 10px, $accent 0px 0px 0px 1px;
  background-color: $dark-accent;

  &.countdown-in-progress {
    color: $accent-light;
    box-shadow: $accent-light 0px 1px 10px, $accent-light 0px 0px 0px 1px;
  }
}

.help-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: $accent-light 0px 1px 20px, $accent-light 0px 0px 0px 1px;
  background-color: $dark-accent;
  padding: 10px;
}

.info-message {
  color: $tertiary;
}

.diff-editor {
  height: 100%;
  width: 100%;
}
