@import "../../../../../styles/variables.scss";

.help-dialog-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
  width: 100%;
}

.help-step-tabs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;

  height: 100%;
}

.help-step-tab {
  padding: 10px;
  width: 12rem;
  background: linear-gradient(50deg, darken($accent, 40%), $dark-accent);
  box-shadow: $accent 0px 1px 10px, $accent 0px 0px 0px 2px;

  user-select: none;

  transition: box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    box-shadow: $accent 0px 1px 20px, $accent 0px 0px 0px 2px;
  }
}

.help-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: $accent 0px 1px 20px, $accent 0px 0px 0px 1px;
  background-color: $dark-accent;
  padding: 10px;
}

.info-message {
  color: $tertiary;
}

.diff-editor {
  height: 100%;
  width: 100%;
}
