<p-dialog [header]="dialogTitle" [(visible)]="visible" [resizable]="true" (onHide)="handleHide()"
    [style]="{ 'min-width': '25rem', 'max-width': codeShown ? '75rem' : '25rem', height: codeShown ? '35rem' : 'fit-content', 'min-height': codeShown ? '35rem' : 'fit-content', 'max-height': codeShown ? '35rem' : 'fit-content' }"
    (onResizeInit)="handleResize($event)" (onResizeEnd)="handleResize($event)">

    <div class="help-dialog-wrapper">
        <div class="help-steps-wrapper">
            <div *ngFor="let step of numberOfHelpSteps" [ngStyle]="{'color': currentHelpStep != step ? 'red' : 'green'}"
                (click)="onNewHelpStepClick(step)">
                <p *ngIf="currentHelpStep == step - 1 && countdownInProgress">Pričekaj
                    {{nextHelpCooldownRemainingTime+1}}s do idućeg koraka.</p>
                {{'Otvori ' + getTitleForStep(step)}}
            </div>

        </div>
        <div class="help-wrapper">
            <p class="info-message" *ngIf="infoMessage != ''">{{infoMessage}}</p>

            <p *ngIf="textShown">
                {{helpText}}
            </p>

            <div *ngIf="codeShown" class="diff-editor">
                <app-editor [isDiffEditor]="true" [originalCode]="diffEditorLeftState"
                    [(comparedCode)]="diffEditorRightSide" [resizeEvent]="resizeEvent" />
            </div>
        </div>
    </div>
</p-dialog>