@import "../../../styles/variables.scss";

.register-form {
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1.8rem;

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__group {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      small {
        max-width: 50%;
      }
    }

    &__label {
      color: $accent;
      padding-bottom: 0.5rem;
    }

    &__input {
      background-color: $dark-accent;
      color: $orange;
    }
  }
}
