<h1>
    OBAVIJEST O PRIVATNOSTI
</h1>

<p>
    Zadnje ažuriranje: 22. rujna 2024.
</p>

Ova Obavijest o privatnosti za Prog Demos stranicu ("mi", "nas", "naš") opisuje kako i zašto možemo pristupiti,
prikupljati, pohranjivati, koristiti i/ili dijeliti ("obrađivati") vaše osobne podatke kada koristite naše usluge
("Usluge"), uključujući kada:
<ul>
    <li>Posjećujete našu web stranicu na progdemos.com ili bilo koju našu web stranicu koja je povezana s ovom
        Obavijesti o privatnosti.</li>
    <li>Koristite Prog Demos Web stranicu. To je web stranica na kojoj možete rješavati i testirati svoja programska
        rješenja
        te pratiti svoj napredak.</li>
    <li>Sudjelujete u drugim povezanim aktivnostima, marketing ili događaje.</li>
</ul>
Imate li pitanja ili nedoumica? Ova Obavijest o privatnosti pomoći će vam da razumijete vaša prava i izbore u vezi s
privatnošću. Ako se ne slažete s našim politikama i praksama, molimo vas da ne koristite naše Usluge. Ako i dalje imate
pitanja ili nedoumica, kontaktirajte nas na: mislav&#64;progdemos.com.
<h2>SAŽETAK KLJUČNIH TOČAKA</h2>
Ovaj sažetak pruža ključne točke iz naše Obavijesti o privatnosti. Više detalja možete pronaći klikom na poveznice koje
slijede nakon svake ključne točke ili koristeći naš sadržaj ispod za pronalaženje željene sekcije.
<ul>
    <li>Koje osobne podatke obrađujemo? Kada posjetite, koristite ili pregledavate naše Usluge, možemo obraditi vaše
        osobne podatke, ovisno o vašoj interakciji s nama i Uslugama. Saznajte više o osobnim podacima koje nam
        otkrivate.</li>
    <li>Obrađujemo li osjetljive osobne podatke? Neki od podataka mogu biti smatrani "posebnim" ili "osjetljivim" u
        određenim jurisdikcijama, kao što su vaša rasna ili etnička pripadnost, seksualna orijentacija i vjerska
        uvjerenja. Ne obrađujemo osjetljive osobne podatke.</li>
    <li>Prikupljamo li informacije od trećih strana? Ne prikupljamo informacije od trećih strana.</li>
    <li>Kako obrađujemo vaše podatke? Vaše podatke obrađujemo radi pružanja, poboljšanja i administriranja naših Usluga,
        komunikacije s vama, sigurnosti i sprječavanja prijevara te u svrhu poštivanja zakona. Vaše podatke također
        možemo obrađivati za druge svrhe uz vaš pristanak. Obradit ćemo vaše podatke samo kada za to imamo valjanu
        pravnu osnovu. Saznajte više o načinu na koji obrađujemo vaše podatke.</li>
    <li>U kojim situacijama i s kim dijelimo osobne podatke? Podatke možemo dijeliti u određenim situacijama i sa
        specifičnim trećim stranama. Saznajte više o situacijama kada i s kim dijelimo vaše osobne podatke.</li>
    <li>Kako čuvamo vaše podatke? Imamo odgovarajuće organizacijske i tehničke mjere za zaštitu vaših osobnih podataka.
        Međutim, nijedan prijenos podataka putem interneta ili tehnologija pohrane ne može biti 100% siguran, pa ne
        možemo jamčiti da hakeri ili drugi neovlašteni subjekti neće moći pristupiti vašim podacima. Saznajte više o
        načinu na koji čuvamo vaše podatke.</li>
    <li>Koja su vaša prava? Ovisno o vašem zemljopisnom položaju, primjenjivi zakoni o privatnosti mogu vam dati
        određena prava u vezi s vašim osobnim podacima. Saznajte više o vašim pravima na privatnost.</li>
    <li>Kako ostvariti svoja prava? Najlakši način za ostvarivanje vaših prava je posjetiti
        http://www.progdemos.com/data ili nas kontaktirati. Razmotrit ćemo i postupiti u skladu s vašim zahtjevom
        sukladno primjenjivim zakonima.</li>
</ul>
Želite li saznati više o tome što radimo s podacima koje prikupljamo? Pregledajte potpunu Obavijest o privatnosti.

<h2>SADRŽAJ</h2>
<ol>
    <li>KOJE INFORMACIJE PRIKUPLJAMO?</li>
    <li>KAKO OBRAĐUJEMO VAŠE INFORMACIJE?</li>
    <li>NA KOJE PRAVNE OSNOVE SE OSLANJAMO KOD OBRADE VAŠIH OSOBNIH PODATAKA?</li>
    <li>KADA I S KIM DIJELIMO VAŠE OSOBNE PODATKE?</li>
    <li>KOLIKO DUGO ČUVAMO VAŠE PODATKE?</li>
    <li>KAKO ČUVAMO VAŠE INFORMACIJE SIGURNIMA?</li>
    <li>KOJA SU VAŠA PRAVA NA PRIVATNOST?</li>
    <li>KONTROLE ZA ZNAČAJKE "DO-NOT-TRACK"</li>
    <li>AŽURIRAMO LI OVAJ PRAVILNIK?</li>
    <li>KAKO NAS MOŽETE KONTAKTIRATI U VEZI OVOG PRAVILNIKA?</li>
    <li>KAKO MOŽETE PREGLEDATI, AŽURIRATI ILI OBRISATI PODATKE KOJE PRIKUPLJAMO OD VAS?</li>
</ol>

<h3>1. KOJE INFORMACIJE PRIKUPLJAMO?</h3>
Osobni podaci koje nam otkrivate
Ukratko: Prikupljamo osobne podatke koje nam dobrovoljno pružate.
Prikupljamo osobne podatke koje nam dobrovoljno dajete kada se registrirate za korištenje Usluga, izrazite interes za
dobivanje informacija o nama ili našim proizvodima i uslugama, sudjelujete u aktivnostima na Uslugama ili na drugi način
kontaktirate s nama.
Osobni podaci koje dajete. Osobni podaci koje prikupljamo ovise o kontekstu vaših interakcija s nama i Uslugama, odabiru
proizvoda i značajki koje koristite. Osobni podaci koje prikupljamo mogu uključivati sljedeće:
<ul>
    <li>Email adrese
    <li>Korisnička imena</li>
    <li>SHA 256 sažetak lozinke</li>
</ul>
Osjetljivi podaci. Ne obrađujemo osjetljive podatke.
Svi osobni podaci koje nam pružite moraju biti točni, potpuni i istiniti, te nas morate obavijestiti o bilo kakvim
promjenama tih podataka.
Podaci koji se automatski prikupljaju
Ukratko: Neke informacije, poput vaše IP adrese i karakteristika preglednika i uređaja, prikupljaju se automatski kada
posjetite naše Usluge.
Automatski prikupljamo određene informacije kada posjetite, koristite ili pregledavate Usluge. Ove informacije ne
otkrivaju vaš specifičan identitet (poput vašeg imena ili kontaktnih podataka), ali mogu uključivati informacije o
uređaju i korištenju, poput IP adrese, karakteristika preglednika i uređaja, operacijskog sustava, jezičnih postavki,
URL-ova na koje ste se povezali, naziva uređaja, zemlje, informacije o tome kako i kada koristite naše Usluge te druge
tehničke podatke. Ove informacije prvenstveno su potrebne radi održavanja sigurnosti i rada naših Usluga te u svrhe
analitike i izvješćivanja.
Informacije koje prikupljamo uključuju:
<ul>
    <li>Podaci o zapisnicima i korištenju. Podaci o zapisnicima i korištenju su servisno povezane, dijagnostičke,
        upotrebne i izvedbene informacije koje naši poslužitelji automatski prikupljaju kada pristupite našim Uslugama,
        te koje bilježimo u datoteke zapisnika. Ovisno o vašoj interakciji s nama, ovi podaci mogu uključivati vašu IP
        adresu, informacije o uređaju, vrstu preglednika i postavke, te informacije o vašim aktivnostima na Uslugama
        (poput vremenskih oznaka povezanih s vašim korištenjem, stranice i datoteke koje ste pregledavali, pretrage koje
        ste izvršavali i druge radnje poput korištenja određenih značajki).</li>
</ul>
<h3>2. KAKO OBRAĐUJEMO VAŠE INFORMACIJE?</h3>
Ukratko: Vaše podatke obrađujemo kako bismo pružili, poboljšali i administrirali naše Usluge, komunicirali s vama,
osigurali sigurnost i sprječavali prijevare te poštovali zakone. Vaše podatke možemo obrađivati i u druge svrhe uz vaš
pristanak.
Vaše osobne podatke obrađujemo iz raznih razloga, ovisno o vašoj interakciji s našim Uslugama, uključujući:
<ul>
    <li>Za olakšavanje kreiranja računa i autentifikacije te općenito upravljanje korisničkim računima. Vaše podatke
        možemo obraditi kako biste mogli kreirati i prijaviti se na svoj račun, te održavati njegovu funkcionalnost.
    </li>
    <li>Za pružanje i olakšavanje pružanja usluga korisnicima. Vaše podatke možemo obraditi kako bismo vam pružili
        traženu uslugu.</li>
    <li>Za slanje administrativnih informacija. Vaše podatke možemo obraditi kako bismo vam poslali detalje o našim
        proizvodima i uslugama, promjenama u uvjetima i pravilnicima te drugim sličnim informacijama.</li>
    <li>Za traženje povratnih informacija. Vaše podatke možemo obraditi kada je to potrebno za traženje povratnih
        informacija i za kontaktiranje s vama u vezi vašeg korištenja naših Usluga.</li>
    <li>Za slanje marketinških i promotivnih komunikacija. Vaše podatke možemo obraditi u marketinške svrhe u slučaju
        uvođenja novih funkcionalnosti u Uslugu ili proširenja Usluge.</li>
    <li>Za analitiku napretka korisnika. Nudimo pregled ukupnog uspjeha u rješavanju zadataka na stranici.</li>
    <li>Za usporedbu napretka korisnika. Uspoređujemo napredak korisnika u rješavanju zadataka, odnosno izrađujemo
        ljestvicu najboljih.</li>
</ul>

<h3>3. NA KOJE PRAVNE OSNOVE SE OSLANJAMO KOD OBRADE VAŠIH OSOBNIH PODATAKA?</h3>
Ukratko: Vaše osobne podatke obrađujemo samo kada smatramo da je to potrebno i kada imamo valjanu pravnu osnovu (npr.
pristanak, poštivanje zakona, pružanje usluga, ispunjenje ugovornih obveza, zaštita vaših prava ili legitimnih poslovnih
interesa).
Opća uredba o zaštiti podataka (GDPR) i UK GDPR zahtijevaju da objasnimo na koje se pravne osnove oslanjamo kada
obrađujemo vaše osobne podatke. Stoga, možemo se oslanjati na sljedeće pravne osnove za obradu vaših osobnih podataka:
<ul>
    <li>Pristanak. Vaše podatke možemo obrađivati ako ste nam dali dozvolu (tj. pristanak) da koristimo vaše osobne
        podatke u određenu svrhu. U svakom trenutku možete povući svoj pristanak slanjem molbe putem kontakt podataka
        navedenih u ovoj Obavijesti o privatnosti.</li>
    <li>Izvršenje ugovora. Vaše podatke možemo obrađivati kada smatramo da je to potrebno za ispunjenje naših ugovornih
        obveza prema vama, uključujući pružanje naših Usluga ili na vaš zahtjev prije nego sklopimo ugovor s vama.</li>
    <li>Legitimni interesi. Vaše podatke možemo obrađivati kada smatramo da je to opravdano radi postizanja naših
        legitimnih poslovnih interesa, pod uvjetom da ti interesi ne nadmašuju vaša prava i slobode. Na primjer, vaše
        osobne podatke možemo obrađivati u svrhu:</li>
    o Slanja informacija o posebnim ponudama i popustima na naše proizvode i usluge
    o Razumijevanja kako korisnici koriste naše proizvode i usluge kako bismo poboljšali korisničko iskustvo
    <li>Zakonske obveze. Vaše podatke možemo obrađivati kada smatramo da je to potrebno radi poštivanja naših zakonskih
        obveza, kao što je suradnja s tijelima za provedbu zakona ili regulatornim tijelima, ili u svrhu zaštite naših
        prava u pravnim postupcima.</li>
    <li>Zaštita vitalnih interesa. Vaše podatke možemo obrađivati kada smatramo da je to potrebno radi zaštite vaših
        vitalnih interesa ili vitalnih interesa treće strane, primjerice u situacijama koje uključuju potencijalne
        prijetnje sigurnosti bilo koje osobe.</li>
</ul>

<h3>4. KADA I S KIM DIJELIMO VAŠE OSOBNE PODATKE?</h3>
<h4>Grafana Cloud</h4>
Stranica u pozadini koristi alat treće strane <a href="https://grafana.com/products/cloud/">Grafana Cloud</a> pod
vlasništvom tvrtke Grafana Labs za praćenje i analiziranje performansi sustava i rano primjećivanje problema.
Taj servis obrađuje podatke na razini sustava, poput metrika sustava i zapisa (logova), ali ne skuplja korisničke
podatke.
Neki zapisi koji se šalju na poslužitelje Grafana Labsa mogu sadržavati vaše podatke poput emaila i korisničkog imena.
Takvi zapisi NIKADA neće sadržavati Vašu lozinku u tekstualnom obliku.
<br>
<br>
Možete pregledati Dogovor o obradi podataka (Data Processing Agreement) tvrtke Grafana Labs <a
    href="https://grafana.com/legal/data-processing-agreement/">ovdje</a> radi boljeg uvida u pristup obradi podataka
servisa Grafana Cloud.

<h4>Ostale potencijalne treće strane</h4>
Ukratko: Vaše podatke možemo dijeliti u specifičnim situacijama i sa specifičnim trećim stranama.
Možda ćemo trebati podijeliti vaše osobne podatke u sljedećim situacijama:
<ul>
    <li>Poslovni transferi. Vaše podatke možemo dijeliti ili prenijeti u vezi s ili tijekom pregovora o bilo kojem
        spajanju, prodaji imovine tvrtke, financiranju ili akviziciji dijela ili cijelog našeg poslovanja drugoj tvrtki.
    </li>
</ul>

<h3>5. KOLIKO DUGO ČUVAMO VAŠE PODATKE?</h3>
Ukratko: Vaše podatke čuvamo onoliko dugo koliko je potrebno za ispunjenje svrha navedenih u ovoj Obavijesti o
privatnosti, osim ako zakonom nije drugačije propisano.
Vaše osobne podatke čuvat ćemo samo onoliko dugo koliko je potrebno za ispunjenje svrha navedenih u ovoj Obavijesti o
privatnosti, osim ako duži rok čuvanja nije zakonski potreban ili dopušten (npr. zbog poreznih, računovodstvenih ili
drugih zakonskih zahtjeva). Niti jedna svrha u ovoj obavijesti neće zahtijevati da čuvamo vaše osobne podatke duže od
razdoblja u kojem imate račun kod nas.
Kada više nemamo legitimnu poslovnu potrebu za obradom vaših osobnih podataka, izbrisat ćemo ili anonimizirati te
podatke. Ako to nije moguće (npr. jer su vaši osobni podaci pohranjeni u sigurnosnim kopijama), tada ćemo sigurno
pohraniti vaše osobne podatke i izolirati ih od bilo kakve daljnje obrade dok brisanje ne bude moguće.

<h3>6. KAKO ČUVAMO VAŠE INFORMACIJE SIGURNIMA?</h3>
Ukratko: Naš cilj je zaštititi vaše osobne podatke putem sustava organizacijskih i tehničkih sigurnosnih mjera.
Implementirali smo odgovarajuće i razumne tehničke i organizacijske sigurnosne mjere dizajnirane za zaštitu sigurnosti
bilo kojih osobnih podataka koje obrađujemo. Međutim, unatoč našim zaštitnim mjerama i naporima da osiguramo vaše
podatke, nijedan elektronički prijenos putem interneta ili tehnologija pohrane podataka ne može biti 100% siguran, stoga
ne možemo jamčiti da hakeri, cyber-kriminalci ili druge neovlaštene treće strane neće moći nadvladati našu sigurnost i
na nepropisan način prikupiti, pristupiti, ukrasti ili izmijeniti vaše podatke.

<h3>7. KOJA SU VAŠA PRAVA NA PRIVATNOST?</h3>
Ukratko: U nekim regijama, kao što su Europski gospodarski prostor (EEA), Ujedinjeno Kraljevstvo (UK) i Švicarska, imate
prava koja vam omogućuju veći pristup i kontrolu nad vašim osobnim podacima. Možete pregledavati, mijenjati ili
zatvoriti svoj račun u bilo kojem trenutku.
Ovisno o vašoj lokaciji (npr. EEA, UK i Švicarska), imate određena prava prema važećim zakonima o zaštiti podataka, kao
što su:
<ul>
    <li>Pravo na pristup i dobivanje kopije vaših osobnih podataka.</li>
    <li>Pravo na ispravak ili brisanje osobnih podataka.</li>
    <li>Pravo na ograničenje obrade vaših osobnih podataka.</li>
    <li>Pravo na prijenos podataka (gdje je primjenjivo).</li>
    <li>Pravo na prigovor na obradu vaših osobnih podataka u određenim okolnostima.</li>
</ul>
Zahtjev za ostvarivanje vaših prava možete podnijeti putem kontakt podataka navedenih u ovoj Obavijesti o privatnosti.

<h3>8. KONTROLE ZA ZNAČAJKE "DO-NOT-TRACK"</h3>
Većina web preglednika i neki mobilni operacijski sustavi te aplikacije uključuju značajku "Do-Not-Track" (DNT) koju
možete aktivirati kako biste signalizirali svoju privatnu želju da se ne prate vaše aktivnosti na mreži. Trenutno ne
postoji standardna tehnologija za prepoznavanje i implementaciju DNT signala. Stoga, trenutno ne odgovaramo na DNT
signale preglednika ili druge mehanizme koji automatski komuniciraju vaš izbor da ne budete praćeni na mreži.

<h3>9. AŽURIRAMO LI OVAJ PRAVILNIK?</h3>
Ukratko: Da, ovu obavijest ćemo ažurirati prema potrebi kako bismo ostali u skladu s relevantnim zakonima.
Ovu Obavijest o privatnosti možemo povremeno ažurirati. Ažurirana verzija bit će označena ažuriranim datumom na vrhu ove
stranice. Ako napravimo materijalne promjene, možemo vas obavijestiti objavom obavijesti ili slanjem izravne obavijesti.

<h3>10. KAKO NAS MOŽETE KONTAKTIRATI U VEZI OVOG PRAVILNIKA?</h3>
Ako imate pitanja ili komentare o ovoj obavijesti, možete nas kontaktirati putem kontakt podataka navedenih u ovoj
Obavijesti o privatnosti.
<h3>11. KAKO MOŽETE PREGLEDATI, AŽURIRATI ILI OBRISATI PODATKE KOJE PRIKUPLJAMO OD VAS?</h3>
Imate pravo zatražiti pristup osobnim podacima koje smo prikupili od vas, pregledati, ažurirati ili obrisati podatke.
Zahtjev za pregledom ili ažuriranjem vaših podataka možete podnijeti putem web stranice http://www.progdemos.com/data.