<h1>OBAVIJEST O PRIVATNOSTI</h1>

<small>Zadnje ažuriranje: 7. listopada 2024.</small>

<p>
    Ovo je Obavijest o privatnosti za Prog Demos stranicu. Autor i vlasnik
    stranice je Mislav Matijević. Stranica i autor u daljnjem tekstu su navedeni u
    prvom licu množine ("mi", "nas", "naš").
</p>

<p>
    Ova Obavijest o privatnosti opisuje kako i zašto možemo pristupiti,
    prikupljati, pohranjivati, koristiti i/ili dijeliti ("obrađivati") vaše osobne
    podatke kada koristite naše usluge ("Usluge"), uključujući kada:
</p>
<ul>
    <li>
        Posjećujete našu web stranicu na progdemos.com ili bilo koju našu web
        stranicu koja je povezana s ovom Obavijesti o privatnosti.
    </li>
    <li>
        Koristite Prog Demos Web stranicu. To je web stranica na kojoj možete
        rješavati i testirati svoja programska rješenja te pratiti svoj napredak.
    </li>
    <li>Sudjelujete u drugim povezanim aktivnostima, marketing ili događaje.</li>
</ul>
<p>
    Imate li pitanja ili nedoumica? Ova Obavijest o privatnosti pomoći će vam da
    razumijete vaša prava i izbore u vezi s privatnošću. Ako se ne slažete s našim
    politikama i praksama, molimo vas da ne koristite naše Usluge. Ako i dalje
    imate pitanja ili nedoumica, kontaktirajte nas na: mislav&#64;progdemos.com.
</p>
<h2>SAŽETAK KLJUČNIH TOČAKA</h2>
<p>
    Ovaj sažetak pruža ključne točke iz naše Obavijesti o privatnosti. Više
    detalja možete pronaći klikom na poveznice koje slijede nakon svake ključne
    točke ili koristeći naš sadržaj ispod za pronalaženje željene sekcije.
</p>
<ul class="key-points-list">
    <li>
        <strong class="key-points-list__highlighted">Koje osobne podatke obrađujemo?</strong>
        Kada posjetite, koristite ili pregledavate naše Usluge, možemo obraditi vaše
        osobne podatke, ovisno o vašoj interakciji s nama i Uslugama. Saznajte više
        o osobnim podacima koje nam otkrivate.
        <ul>
            <li>
                <strong class="key-points-list__highlighted">Koristimo li kolačiće treće strane?</strong>
                Ne. Ova stranica uopće ne koristi mehanizam kolačića (eng.
                <i>cookies</i>). Postoje podaci koji se tijekom korištenja stranice
                lokalno pohranjuju drugim mehanizmom, ali oni se koriste isključivo u
                svrhu normalnog i optimiziranog rada stranice.
            </li>
        </ul>
    </li>
    <li>
        <strong class="key-points-list__highlighted">Obrađujemo li osjetljive osobne podatke?</strong>
        Neki od podataka mogu biti smatrani "posebnim" ili "osjetljivim" u određenim
        jurisdikcijama, kao što su vaša rasna ili etnička pripadnost, seksualna
        orijentacija i vjerska uvjerenja. Ne obrađujemo osjetljive osobne podatke.
    </li>
    <li>
        <strong class="key-points-list__highlighted">Prikupljamo li informacije od trećih strana?</strong>
        Ne prikupljamo informacije od trećih strana.
    </li>
    <li>
        <strong class="key-points-list__highlighted">Kako obrađujemo vaše podatke?</strong>
        Vaše podatke obrađujemo radi pružanja, poboljšanja i administriranja naših
        Usluga, komunikacije s vama, sigurnosti i sprječavanja prijevara te u svrhu
        poštivanja zakona. Vaše podatke također možemo obrađivati za druge svrhe uz
        vaš pristanak. Obradit ćemo vaše podatke samo kada za to imamo valjanu
        pravnu osnovu. Saznajte više o načinu na koji obrađujemo vaše podatke.
    </li>
    <li>
        <strong class="key-points-list__highlighted">U kojim situacijama i s kim dijelimo osobne podatke?</strong>
        Podatke možemo dijeliti u određenim situacijama i sa specifičnim trećim
        stranama. Saznajte više o situacijama kada i s kim dijelimo vaše osobne
        podatke.
    </li>
    <li>
        <strong class="key-points-list__highlighted">Kako čuvamo vaše podatke?</strong>
        Imamo odgovarajuće organizacijske i tehničke mjere za zaštitu vaših osobnih
        podataka. Međutim, nijedan prijenos podataka putem interneta ili tehnologija
        pohrane ne može biti 100% siguran, pa ne možemo jamčiti da hakeri ili drugi
        neovlašteni subjekti neće moći pristupiti vašim podacima. Saznajte više o
        načinu na koji čuvamo vaše podatke.
    </li>
    <li>
        <strong class="key-points-list__highlighted">Koja su vaša prava?</strong>
        Ovisno o vašem zemljopisnom položaju, primjenjivi zakoni o privatnosti mogu
        vam dati određena prava u vezi s vašim osobnim podacima. Saznajte više o
        vašim pravima na privatnost.
    </li>
    <li>
        <strong class="key-points-list__highlighted">Kako ostvariti svoja prava?</strong>
        Najlakši način za ostvarivanje vaših prava je kontaktirati nas. Razmotrit
        ćemo i postupiti u skladu s vašim zahtjevom sukladno primjenjivim zakonima.
    </li>
</ul>
<p>
    Želite li saznati više o tome što radimo s podacima koje prikupljamo?
    Pregledajte potpunu Obavijest o privatnosti.
</p>

<h2>SADRŽAJ</h2>
<section>
    <ol>
        <li>
            <a (click)="scrollToElementWithId('2_kako_obrađujemo_vaše_informacije')">
                KOJE INFORMACIJE PRIKUPLJAMO?</a>
        </li>
        <li>
            <a (click)="
          scrollToElementWithId(
            '3_na_koje_pravne_osnove_se_oslanjamo_kod_obrade_vaših_osobnih_podataka'
          )
        ">
                KAKO OBRAĐUJEMO VAŠE INFORMACIJE?</a>
        </li>
        <li>
            <a (click)="
          scrollToElementWithId('4_kada_is_kim_dijelimo_vaše_osobne_podatke')
        ">
                NA KOJE PRAVNE OSNOVE SE OSLANJAMO KOD OBRADE VAŠIH OSOBNIH PODATAKA?</a>
        </li>
        <li>
            <a (click)="scrollToElementWithId('5_koliko_dugo_čuvamo_vaše_podatke')">
                KADA I S KIM DIJELIMO VAŠE OSOBNE PODATKE?</a>
        </li>
        <li>
            <a (click)="
          scrollToElementWithId('6_kako_čuvamo_vaše_informacije_sigurnima')
        ">
                KOLIKO DUGO ČUVAMO VAŠE PODATKE?</a>
        </li>
        <li>
            <a (click)="scrollToElementWithId('7_koja_su_vaša_prava_na_privatnost')">
                KAKO ČUVAMO VAŠE INFORMACIJE SIGURNIMA?</a>
        </li>
        <li>
            <a (click)="scrollToElementWithId('8_kontrole_za_značajke_do_not_track')">
                KOJA SU VAŠA PRAVA NA PRIVATNOST?</a>
        </li>
        <li>
            <a (click)="scrollToElementWithId('9_ažuriramo_li_ovaj_pravilnik')">
                KONTROLE ZA ZNAČAJKE "DO-NOT-TRACK"</a>
        </li>
        <li>
            <a (click)="
          scrollToElementWithId(
            '10_kako_nas_možete_kontaktirati_u_vezi_ovog_pravilnika'
          )
        ">
                AŽURIRAMO LI OVAJ PRAVILNIK?</a>
        </li>
        <li>
            <a (click)="
          scrollToElementWithId(
            '11_kako_možete_pregledati,ažurirati_ili_obrisati_podatke_koje_prikupljamo_od_vas'
          )
        ">
                KAKO NAS MOŽETE KONTAKTIRATI U VEZI OVOG PRAVILNIKA?</a>
        </li>
        <li>
            <a (click)="scrollToElementWithId('page_bottom')">
                KAKO MOŽETE PREGLEDATI, AŽURIRATI ILI OBRISATI PODATKE KOJE PRIKUPLJAMO
                OD VAS?</a>
        </li>
    </ol>

    <h3 id="1_koje_informacije_prikupljamo">1. KOJE INFORMACIJE PRIKUPLJAMO?</h3>
    <h4>Osobni podaci koje nam otkrivate</h4>
    <p>Ukratko: Prikupljamo osobne podatke koje nam dobrovoljno pružate.</p>
    <p>
        Prikupljamo osobne podatke koje nam dobrovoljno dajete kada se registrirate
        za korištenje Usluga, izrazite interes za dobivanje informacija o nama ili
        našim proizvodima i uslugama, sudjelujete u aktivnostima na Uslugama ili na
        drugi način kontaktirate s nama.
    </p>
    <p>
        Osobni podaci koje dajete. Osobni podaci koje prikupljamo ovise o kontekstu
        vaših interakcija s nama i Uslugama, odabiru proizvoda i značajki koje
        koristite. Osobni podaci koje prikupljamo mogu uključivati sljedeće:
    </p>
    <ul>
        <li>Email adrese</li>
        <li>Korisnička imena</li>
        <li>Lozinku kriptiranu sigurnom jednosmjernom hash funkcijom</li>
    </ul>
    <h4>Osjetljivi podaci: Ne obrađujemo osjetljive podatke.</h4>
    <p>
        Svi osobni podaci koje nam pružite moraju biti točni, potpuni i istiniti, te
        nas morate obavijestiti o bilo kakvim promjenama tih podataka.
    </p>
    <h4>Podaci koji se automatski prikupljaju</h4>
    <p>
        Ukratko: Neke informacije, poput vaše IP adrese i karakteristika preglednika
        i uređaja, prikupljaju se automatski kada posjetite naše Usluge.
    </p>
    <p>
        Automatski prikupljamo određene informacije kada posjetite, koristite ili
        pregledavate Usluge. Ove informacije ne otkrivaju vaš specifičan identitet
        (poput vašeg imena ili kontaktnih podataka), ali mogu uključivati
        informacije o uređaju i korištenju, poput IP adrese, karakteristika
        preglednika i uređaja, operacijskog sustava, jezičnih postavki, URL-ova na
        koje ste se povezali, naziva uređaja, zemlje, informacije o tome kako i kada
        koristite naše Usluge te druge tehničke podatke. Ove informacije prvenstveno
        su potrebne radi održavanja sigurnosti i rada naših Usluga te u svrhe
        analitike i izvješćivanja.
    </p>
    Informacije koje prikupljamo uključuju podatke o zapisnicima i korištenju.
    <p>
        Podaci o zapisnicima i korištenju su servisno povezane, dijagnostičke,
        upotrebne i izvedbene informacije koje naši poslužitelji automatski
        prikupljaju kada pristupite našim Uslugama, te koje bilježimo u datoteke
        zapisnika. Ovisno o vašoj interakciji s nama, ovi podaci mogu uključivati
        vašu IP adresu, informacije o uređaju, vrstu preglednika i postavke, te
        informacije o vašim aktivnostima na Uslugama (poput vremenskih oznaka
        povezanih s vašim korištenjem, stranice i datoteke koje ste pregledavali,
        pretrage koje ste izvršavali i druge radnje poput korištenja određenih
        značajki).
    </p>
    <h4>Podaci koji se pohranjuju lokalno na vaš poslužitelj</h4>
    <p>
        Stranica ne koristi klasične "kolačiće" (eng. <i>cookies</i>), već koristi
        mehanizam pohrane <i>localStorage</i>
        koji sve podatke drži u pregledniku i ne šalje ih skupa sa zahtjevima na
        poslužitelja (za razliku od kolačića).
    </p>
    <p>
        Korisniku koji nije koristio neki konkretni preglednik za registriraciju ili
        za barem jednu prijavu jedino što se pohranjuje lokalno u taj preglednik su:
    </p>

    <ul>
        <li>
            zahtjevi poslani prema poslužitelju i poslužiteljevi odgovori na njih
            (radi optimizacije kontaktiranja poslužitelja)
        </li>
        <li>posljednji napredak u rješavanju zadataka.</li>
    </ul>

    <p>
        Korisnicima koji su koristili preglednik za registraciju i/ili prijavu u
        sustav, na taj preglednik se pohranjuju isključivo podaci korišteni za
        ispravan i optimiziran rad stranice. Podaci koji se u tom slučaju pohranjuju
        uključuju, ali nisu ograničeni idućim:
    </p>
    <ul>
        <li>podaci o prijavljenom korisniku</li>
        <li>autentifikacijski tokeni i informacije vezane uz njih</li>
        <li>
            zahtjevi poslani prema poslužitelju i poslužiteljevi odgovori na njih
            (radi optimizacije kontaktiranja poslužitelja)
        </li>
        <li>posljednji napredak u rješavanju zadataka.</li>
    </ul>
    <p>
        Neki lokalno pohranjeni podaci trajno ostaju u pregledniku i nakon odjave
        korisnika. Ukoliko to ne želite, predlažemo da koristite preglednik u
        anonimnom načinu rada pri čemu izdavač preglednika garantira da nakon
        korištenja stranice, a po zatvaranju anonimnog prozora preglednika u kojemu
        je stranica korištena, svi podaci koje je ova stranica lokalno pohranila
        trajno nestaju.
    </p>

    <h3 id="2_kako_obrađujemo_vaše_informacije">
        2. KAKO OBRAĐUJEMO VAŠE INFORMACIJE?
    </h3>
    <p>
        Ukratko: Vaše podatke obrađujemo kako bismo pružili, poboljšali i
        administrirali naše Usluge, komunicirali s vama, osigurali sigurnost i
        sprječavali prijevare te poštovali zakone. Vaše podatke možemo obrađivati i
        u druge svrhe uz vaš pristanak.
    </p>
    Vaše osobne podatke obrađujemo iz raznih razloga, ovisno o vašoj interakciji s
    našim Uslugama, uključujući:
    <ul>
        <li>
            Za olakšavanje kreiranja računa i autentifikacije te općenito upravljanje
            korisničkim računima. Vaše podatke možemo obraditi kako biste mogli
            kreirati i prijaviti se na svoj račun, te održavati njegovu
            funkcionalnost.
        </li>
        <li>
            Za pružanje i olakšavanje pružanja usluga korisnicima. Vaše podatke možemo
            obraditi kako bismo vam pružili traženu uslugu.
        </li>
        <li>
            Za slanje administrativnih informacija. Vaše podatke možemo obraditi kako
            bismo vam poslali detalje o našim proizvodima i uslugama, promjenama u
            uvjetima i pravilnicima te drugim sličnim informacijama.
        </li>
        <li>
            Za traženje povratnih informacija. Vaše podatke možemo obraditi kada je to
            potrebno za traženje povratnih informacija i za kontaktiranje s vama u
            vezi vašeg korištenja naših Usluga.
        </li>
        <li>
            Za slanje marketinških i promotivnih komunikacija. Vaše podatke možemo
            obraditi u marketinške svrhe u slučaju uvođenja novih funkcionalnosti u
            Uslugu ili proširenja Usluge.
        </li>
        <li>
            Za analitiku napretka korisnika. Nudimo pregled ukupnog uspjeha u
            rješavanju zadataka na stranici.
        </li>
        <li>
            Za usporedbu napretka korisnika. Uspoređujemo napredak korisnika u
            rješavanju zadataka, odnosno izrađujemo ljestvicu najboljih.
        </li>
    </ul>

    <h3 id="3_na_koje_pravne_osnove_se_oslanjamo_kod_obrade_vaših_osobnih_podataka">
        3. NA KOJE PRAVNE OSNOVE SE OSLANJAMO KOD OBRADE VAŠIH OSOBNIH PODATAKA?
    </h3>
    <p>
        Ukratko: Vaše osobne podatke obrađujemo samo kada smatramo da je to potrebno
        i kada imamo valjanu pravnu osnovu (npr. pristanak, poštivanje zakona,
        pružanje usluga, ispunjenje ugovornih obveza, zaštita vaših prava ili
        legitimnih poslovnih interesa).
    </p>
    <p>
        Opća uredba o zaštiti podataka (GDPR) i UK GDPR zahtijevaju da objasnimo na
        koje se pravne osnove oslanjamo kada obrađujemo vaše osobne podatke. Stoga,
        možemo se oslanjati na sljedeće pravne osnove za obradu vaših osobnih
        podataka:
    </p>
    <ul>
        <li>
            Pristanak. Vaše podatke možemo obrađivati ako ste nam dali dozvolu (tj.
            pristanak) da koristimo vaše osobne podatke u određenu svrhu. U svakom
            trenutku možete povući svoj pristanak slanjem molbe putem kontakt podataka
            navedenih u ovoj Obavijesti o privatnosti.
        </li>
        <li>
            Izvršenje ugovora. Vaše podatke možemo obrađivati kada smatramo da je to
            potrebno za ispunjenje naših ugovornih obveza prema vama, uključujući
            pružanje naših Usluga ili na vaš zahtjev prije nego sklopimo ugovor s
            vama.
        </li>
        <li>
            Legitimni interesi. Vaše podatke možemo obrađivati kada smatramo da je to
            opravdano radi postizanja naših legitimnih poslovnih interesa, pod uvjetom
            da ti interesi ne nadmašuju vaša prava i slobode. Na primjer, vaše osobne
            podatke možemo obrađivati u svrhu:
        </li>
        o Slanja informacija o posebnim ponudama i popustima na naše proizvode i
        usluge o Razumijevanja kako korisnici koriste naše proizvode i usluge kako
        bismo poboljšali korisničko iskustvo
        <li>
            Zakonske obveze. Vaše podatke možemo obrađivati kada smatramo da je to
            potrebno radi poštivanja naših zakonskih obveza, kao što je suradnja s
            tijelima za provedbu zakona ili regulatornim tijelima, ili u svrhu zaštite
            naših prava u pravnim postupcima.
        </li>
        <li>
            Zaštita vitalnih interesa. Vaše podatke možemo obrađivati kada smatramo da
            je to potrebno radi zaštite vaših vitalnih interesa ili vitalnih interesa
            treće strane, primjerice u situacijama koje uključuju potencijalne
            prijetnje sigurnosti bilo koje osobe.
        </li>
    </ul>

    <h3 id="4_kada_is_kim_dijelimo_vaše_osobne_podatke">
        4. KADA I S KIM DIJELIMO VAŠE OSOBNE PODATKE?
    </h3>
    <h4>Grafana Cloud</h4>
    <p>
        Stranica u pozadini koristi alat treće strane
        <a href="https://grafana.com/products/cloud/">Grafana Cloud</a> pod
        vlasništvom tvrtke Grafana Labs za praćenje i analiziranje performansi
        sustava i rano primjećivanje problema. Taj servis obrađuje podatke na razini
        sustava, poput metrika sustava i zapisa (logova), ali ne skuplja korisničke
        podatke.
    </p>
    <p>
        Zapisi koji se šalju na poslužitelje Grafana Labsa mogu sadržavati vaše
        podatke poput emaila i korisničkog imena.
        <strong>Takvi zapisi NIKADA neće sadržavati Vašu lozinku u tekstualnom
            obliku.</strong>
    </p>
    Možete pregledati Dogovor o obradi podataka (Data Processing Agreement) tvrtke
    Grafana Labs
    <a href="https://grafana.com/legal/data-processing-agreement/">ovdje</a> radi
    boljeg uvida u pristup obradi podataka servisa Grafana Cloud.

    <h4>Ostale potencijalne treće strane</h4>
    <p>
        Ukratko: Vaše podatke možemo dijeliti u specifičnim situacijama i sa
        specifičnim trećim stranama.
    </p>
    Možda ćemo trebati podijeliti vaše osobne podatke u sljedećim situacijama:
    <ul>
        <li>
            Poslovni transferi. Vaše podatke možemo dijeliti ili prenijeti u vezi s
            ili tijekom pregovora o bilo kojem spajanju, prodaji imovine tvrtke,
            financiranju ili akviziciji dijela ili cijelog našeg poslovanja drugoj
            tvrtki.
        </li>
    </ul>

    <h3 id="5_koliko_dugo_čuvamo_vaše_podatke">
        5. KOLIKO DUGO ČUVAMO VAŠE PODATKE?
    </h3>
    <p>
        Ukratko: Vaše podatke čuvamo onoliko dugo koliko je potrebno za ispunjenje
        svrha navedenih u ovoj Obavijesti o privatnosti, osim ako zakonom nije
        drugačije propisano.
    </p>

    <p>
        Vaše osobne podatke čuvat ćemo samo onoliko dugo koliko je potrebno za
        ispunjenje svrha navedenih u ovoj Obavijesti o privatnosti, osim ako duži
        rok čuvanja nije zakonski potreban ili dopušten (npr. zbog poreznih,
        računovodstvenih ili drugih zakonskih zahtjeva). Niti jedna svrha u ovoj
        obavijesti neće zahtijevati da čuvamo vaše osobne podatke duže od razdoblja
        u kojem imate račun kod nas. Kada više nemamo legitimnu poslovnu potrebu za
        obradom vaših osobnih podataka, izbrisat ćemo ili anonimizirati te podatke.
        Ako to nije moguće (npr. jer su vaši osobni podaci pohranjeni u sigurnosnim
        kopijama), tada ćemo sigurno pohraniti vaše osobne podatke i izolirati ih od
        bilo kakve daljnje obrade dok brisanje ne bude moguće.
    </p>

    <h3 id="6_kako_čuvamo_vaše_informacije_sigurnima">
        6. KAKO ČUVAMO VAŠE INFORMACIJE SIGURNIMA?
    </h3>
    <p>
        Ukratko: Naš cilj je zaštititi vaše osobne podatke putem sustava
        organizacijskih i tehničkih sigurnosnih mjera.
    </p>

    <p>
        Implementirali smo odgovarajuće i razumne tehničke sigurnosne mjere
        dizajnirane za zaštitu sigurnosti bilo kojih osobnih podataka koje
        obrađujemo.
    </p>
    <p>
        <strong>Vaša lozinka se nigdje ne pohranjuje u tekstualnom obliku, već isključivo
            kao sigurno generirani sažetak/hash!</strong>
    </p>
    <p>
        Međutim, unatoč našim zaštitnim mjerama i naporima da osiguramo vaše
        podatke, nijedan elektronički prijenos putem interneta ili tehnologija
        pohrane podataka ne može biti 100% siguran, stoga ne možemo jamčiti da
        hakeri, cyber-kriminalci ili druge neovlaštene treće strane neće moći
        nadvladati našu sigurnost i na nepropisan način prikupiti, pristupiti,
        ukrasti ili izmijeniti vaše podatke.
    </p>

    <h3 id="7_koja_su_vaša_prava_na_privatnost">
        7. KOJA SU VAŠA PRAVA NA PRIVATNOST?
    </h3>
    Ukratko: U nekim regijama, kao što su Europski gospodarski prostor (EEA),
    Ujedinjeno Kraljevstvo (UK) i Švicarska, imate prava koja vam omogućuju veći
    pristup i kontrolu nad vašim osobnim podacima. Možete pregledavati, mijenjati
    ili zatvoriti svoj račun u bilo kojem trenutku. Ovisno o vašoj lokaciji (npr.
    EEA, UK i Švicarska), imate određena prava prema važećim zakonima o zaštiti
    podataka, kao što su:
    <ul>
        <li>Pravo na pristup i dobivanje kopije vaših osobnih podataka.</li>
        <li>Pravo na ispravak ili brisanje osobnih podataka.</li>
        <li>Pravo na ograničenje obrade vaših osobnih podataka.</li>
        <li>Pravo na prijenos podataka (gdje je primjenjivo).</li>
        <li>
            Pravo na prigovor na obradu vaših osobnih podataka u određenim
            okolnostima.
        </li>
    </ul>
    Zahtjev za ostvarivanje vaših prava možete podnijeti putem kontakt podataka
    navedenih u ovoj Obavijesti o privatnosti.

    <h3 id="8_kontrole_za_značajke_do_not_track">
        8. KONTROLE ZA ZNAČAJKE "DO-NOT-TRACK"
    </h3>
    Većina web preglednika i neki mobilni operacijski sustavi te aplikacije
    uključuju značajku "Do-Not-Track" (DNT) koju možete aktivirati kako biste
    signalizirali svoju privatnu želju da se ne prate vaše aktivnosti na mreži.
    Trenutno ne postoji standardna tehnologija za prepoznavanje i implementaciju
    DNT signala. Stoga, trenutno ne odgovaramo na DNT signale preglednika ili
    druge mehanizme koji automatski komuniciraju vaš izbor da ne budete praćeni na
    mreži.

    <h3 id="9_ažuriramo_li_ovaj_pravilnik">9. AŽURIRAMO LI OVAJ PRAVILNIK?</h3>
    Ukratko: Da, ovu obavijest ćemo ažurirati prema potrebi kako bismo ostali u
    skladu s relevantnim zakonima. Ovu Obavijest o privatnosti možemo povremeno
    ažurirati. Ažurirana verzija bit će označena ažuriranim datumom na vrhu ove
    stranice. Ako napravimo materijalne promjene, možemo vas obavijestiti objavom
    obavijesti ili slanjem izravne obavijesti.

    <h3 id="10_kako_nas_možete_kontaktirati_u_vezi_ovog_pravilnika">
        10. KAKO NAS MOŽETE KONTAKTIRATI U VEZI OVOG PRAVILNIKA?
    </h3>
    Ako imate pitanja ili komentare o ovoj obavijesti, možete nas kontaktirati
    putem kontakt podataka navedenih u ovoj Obavijesti o privatnosti.
    <h3 id="11_kako_možete_pregledati,ažurirati_ili_obrisati_podatke_koje_prikupljamo_od_vas">
        11. KAKO MOŽETE PREGLEDATI, AŽURIRATI ILI OBRISATI PODATKE KOJE PRIKUPLJAMO
        OD VAS?
    </h3>
    Imate pravo zatražiti pristup osobnim podacima koje smo prikupili od vas,
    pregledati, ažurirati ili obrisati podatke. Zahtjev za pregledom ili
    ažuriranjem vaših podataka možete podnijeti putem web stranice
    http://www.progdemos.com/data.
</section>
<div id="page_bottom"></div>