@import "../../../styles/variables.scss";

ngx-monaco-editor {
  height: 100%;
}

.error-explanation-popup {
  display: block;
  visibility: hidden;
  opacity: 0%;
  position: absolute;
  padding: 10px;
  font-size: small;

  pointer-events: none;

  box-shadow: $primary 0px 1px 15px, $primary 0px 0px 0px 1px;
  color: $accent;

  min-width: fit-content;
  max-width: 150px;
  max-height: 250px;
  word-wrap: normal;

  overflow-x: hidden;
  overflow-y: auto;

  z-index: 99;
  background-color: rgba(255, 0, 0, 0.203);

  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
