$primary: #ff007f;
$accent: #00d4ff;
$accent-light: #adedfa;
$tertiary: #ffcc7f;
$highlighted: #ff8c00;
$secondary: #18002f;
$secondary-accent: #7f00ff;
$dark: #1a1a2e;
$dark-accent: #1b1b3a;
$text: #d1edff;
$white: #d4d4d8;
$grey: #8a8a8a;
$score: #68f000;
$dark-score: #1b3a22;

$minProgrammingWidth: 435px;
$smallWidth: 850px;
$smallHeight: 750px;
