@import "../../../styles/variables.scss";

.form-create-new-task {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;

  .new-task-definition {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3rem;
  }

  .column {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
  }
  .row {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .new-task-input {
    background-color: $orange;

    &__terminal {
      background-color: $dark-accent;
      color: $text;
      font-family: monospace;
    }
  }
  .centered {
    align-self: center;
  }
  .form-label {
    align-self: center;
  }
  .editor {
    height: 200px;
    resize: vertical;
    overflow-y: hidden;
    width: 50%;
  }
}
