<h1>Stvori novi zadatak</h1>
<form class="form-create-new-task" (ngSubmit)="onSubmit()">
    <div class="column">
        <label class="form-label" for="name" class="form-label">Naziv zadatka</label>
        <input pInputText class="new-task-input centered" id="name" type="text" name="name" minlength="2" required
            [formControl]="nameControl" />
    </div>
    <div class="column">
        <label class="form-label" for="name" class="form-label">Odaberi cjelinu kojoj zadatak pripada:</label>

        <div class="row centered">
            <p-dropdown [loading]="possibleTopics.length == 0" [formControl]="selectedTopic" [options]="possibleTopics"
                optionLabel="name" placeholder="Odaberi temu" />
            <p-dropdown *ngIf="selectedTopic.value != undefined" [formControl]="selectedSubtopic"
                [options]="selectedTopic.value!.subtopics" optionLabel="name" placeholder="Odaberi podtemu" />
        </div>
    </div>

    <section class="new-task-definition" *ngIf="nameControl.valid && selectedSubtopic.value != undefined">
        <div class="column">
            <p class="centered">Dovoljno detaljno opiši očekivani ulaz i izlaz zadatka!</p>
            <div class="row">
                <div class="column">
                    <label class="form-label" for="inputExplanation">Što je očekivani <strong>ULAZ</strong>?</label>
                    <textarea pInputTextarea id="inputExplanation" type="text" class="new-task-input"
                        name="inputExplanation" minlength="2" required rows="5"
                        [formControl]="inputExplanationControl"></textarea>
                </div>
                <div class="column">
                    <label class="form-label" for="outputExplanation">Što je očekivani <strong>IZLAZ</strong>?</label>
                    <textarea pInputTextarea id="outputExplanation" type="text" class="new-task-input"
                        name="outputExplanation" minlength="2" required rows="5"
                        [formControl]="outputExplanationControl"></textarea>
                </div>
            </div>
        </div>
        <div class="column">
            <label class="form-label" for="inputOutputExample">Jedan primjer ulaza i izlaza, kako bi to izgledalo u
                konzoli:</label>
            <textarea pInputTextarea id="inputOutputExample" type="text" class="new-task-input__terminal"
                name="inputOutputExample" minlength="2" rows="5" required
                [formControl]="inputOutputExampleControl"></textarea>
        </div>

        <div class="column">
            <p>Razdvoji više različitih testnih ulaza i izlaza po linijama!</p>
            <small class="form-label">
                <i>Upiši kompletni unos i kompletni očekivani izlaz, a ne samo rezultate obrade.</i>
                <i>Ovo su vrijednosti koje će se promatrati na standardnom ulazu i izlazu tijekom testiranja
                    rješenja.</i>
            </small>
            <div class="row">
                <div class="column">
                    <label class="form-label" for="test-inputs">Testni unosi:</label>
                    <textarea pInputTextarea id="test-inputs" type="text" class="new-task-input__terminal" name="input"
                        minlength="2" required [formControl]="inputControl" rows="5"></textarea>
                </div>
                <div class="column">
                    <label class="form-label" for="test-outputs">Očekivani izlazi:</label>
                    <textarea pInputTextarea id="test-outputs" type="text" class="new-task-input__terminal"
                        name="output" minlength="2" required [formControl]="outputControl"
                        [rows]="inputControl.value?.split('\n')?.length ?? 1"></textarea>
                </div>
            </div>
            <div class="column">
                <label class="form-label" for="sha256">Ako zadatak generira datoteke,
                    ovdje upiši za svaki unos u novu liniju SHA256 sažetak njihovih očekivanih sadržaja
                    (po abecednom redu naziva datoteka):</label>
                <small>OPCIONALNO</small>
                <textarea pInputTextarea id="sha256Control" [rows]="inputControl.value?.split('\n')?.length ?? 1"
                    [formControl]="sha256Control" class="new-task-input__terminal"></textarea>
            </div>
        </div>

        <div class="column">
            <span>Težina je u rasponu 1 - 10. Ovisi o tome koliko dodatna pomoć može pridonijeti rješavanju, koliko
                planiranja se traži, koliko linija je očekivano...</span>
            <span class="centered difficulty-emoji">{{this.complexityControl.value! | complexityEmoji}}</span>
            <p-slider class="centered difficulty-slider" [min]="1" [max]="5" [formControl]="complexityControl" />
        </div>

        <div class="column">
            <div class="row centered">
                <p-checkbox [(ngModel)]="isBossBattle.value" [binary]="true" [formControl]="isBossBattle"
                    inputId="isBossBattle" />
                <label class="form-label" for="isBossBattle">Boss battle?</label>
            </div>
            <small class="form-label">
                <i>Boss battle zadatak ne nudi pomoć i koristi razne dijelove gradiva iz lekcije.</i>
                <i>S druge strane, običan zadatak mora ponuditi barem jedan korak pomoći, i rješenje.</i>
            </small>
        </div>

        <p-divider type="solid" />

        <p-accordion *ngIf="!isBossBattle.value">
            <p>Pomoći su opcionalne, nemoj unijeti ondje gdje ne želiš pomoći. Međutim, barem jednu pomoć trebaš unijeti
                (ili jedan korak u kodu, ili jedan pomoćni oblačić)!</p>

            <p-button rounded="true" severity="info" (onClick)="addHelpStep()" type="button" icon="pi pi-plus-circle" />
            <p-accordionTab *ngFor="let helpStep of definedHelpSteps" [header]="helpStep.step + '. korak pomoći'">
                <app-new-help-step-definition [(helpCode)]="helpStep.helperCode" [(helpHint)]="helpStep.helperText" />
            </p-accordionTab>
            <p-button rounded="true" severity="danger" (onClick)="removeHelpStep()" type="button"
                icon="pi pi-minus-circle" *ngIf="definedHelpSteps.length > 1" />
        </p-accordion>

        <p-button label="Stvori novi zadatak" type="submit" icon="pi pi-file-plus" />
    </section>
</form>