<section class="navigation-drawer" [ngStyle]="{'width': isCollapsed ? '0' : '200px'}">
    <div class="navigation">
        <a *ngFor="let navigationHeader of navigationHeaders" class="navigation-link"
            [routerLink]="navigationHeader.link" routerLinkActive="navigation-link__active"
            [routerLinkActiveOptions]="{exact: true}">
            <span>{{navigationHeader.name}}</span>
            <i *ngIf="!navigationHeader.icon?.includes('/')" class="pi {{navigationHeader.icon}}"></i>
            <img *ngIf="navigationHeader.icon?.includes('/')" class="navigation__image"
                src="{{navigationHeader.icon}}" />
        </a>
    </div>

    <div [ngStyle]="{'transform': isCollapsed ? 'translate(-100%, 100%)' : 'translate(-40%, 20%)'}"
        (click)="onSunClick($event)" class="synthwave-sun"></div>
    <div class="sun-wrapper">
        <div [ngStyle]="{'transform': isCollapsed ? 'translate(-100%, -300px)' : 'translate(-40%, -300px)'}"
            class="outer-sun-ring"></div>
    </div>
</section>
<p-button (onClick)="toggleVisibility()"
    [ngStyle]="{'transform': isCollapsed ? 'translate('+(-90-100*returnZeroIfSmallWidth())+'px,20px)' : 'translate(0px,0px)'}"
    class="collapse-expand" [icon]="isCollapsed ? 'pi pi-angle-double-right' : 'pi pi-angle-double-left'"
    rounded="true"></p-button>
<footer [ngStyle]="{'transform': isCollapsed ? 'translateX(-100%)' : 'none'}">
    <a [routerLink]="['/privacy']">Politika privatnosti</a>
</footer>