<section class="navigation-drawer" [ngStyle]="{'width': isCollapsed ? '0' : '200px'}">
    <div class="navigation-drawer__header">
        <div class="navigation-drawer__header__logo">
            <img routerLink="/" src="assets/images/prog_demos.png">
            <span>
                &#64; 2024
            </span>
        </div>
        <p-button (onClick)="toggleVisibility()"
            [ngStyle]="{'transform': isCollapsed ? 'translateX(7px)' : 'translateX(100px)'}"
            class="navigation-drawer__header__button" [icon]="isCollapsed ? 'pi pi-directions' : 'pi pi-directions-alt'"
            rounded="true"></p-button>
    </div>
    <div class="navigation">
        <a *ngFor="let navigationHeader of navigationHeaders" class="navigation-link"
            [routerLink]="navigationHeader.link"
            routerLinkActive="navigation-link__active">{{navigationHeader.name}}</a>
    </div>

    <div class="synthwave-sun">
        <div class="outer-sun-ring"></div>
    </div>
</section>