<section class="navigation-drawer" [ngStyle]="{'width': isCollapsed ? '0' : '200px'}">
    <div class="navigation-drawer__header">
        <div class="navigation-drawer__header__logo">
            <img routerLink="/" src="assets/images/prog_demos.png">
            <span>Prog Demos</span>
        </div>
    </div>
    <div class="navigation">
        <a *ngFor="let navigationHeader of navigationHeaders" class="navigation-link"
            [routerLink]="navigationHeader.link" routerLinkActive="navigation-link__active"
            [routerLinkActiveOptions]="{exact: true}">{{navigationHeader.name}}</a>
    </div>

    <div [ngStyle]="{'transform': isCollapsed ? 'translate(-100%, 100%)' : 'translate(-40%, 20%)'}"
        (click)="onSunClick($event)" class="synthwave-sun"></div>
    <div class="sun-wrapper">
        <div [ngStyle]="{'transform': isCollapsed ? 'translate(-100%, -300px)' : 'translate(-40%, -300px)'}"
            class="outer-sun-ring"></div>
    </div>
</section>
<p-button (onClick)="toggleVisibility()"
    [ngStyle]="{'transform': isCollapsed ? 'translate('+(-90-100*returnZeroIfSmallWidth())+'px,20px)' : 'translate(0px,0px)'}"
    class="collapse-expand" [icon]="isCollapsed ? 'pi pi-angle-double-right' : 'pi pi-angle-double-left'"
    rounded="true"></p-button>
<footer [ngStyle]="{'transform': isCollapsed ? 'translateX(-100%)' : 'none'}">
    <a [routerLink]="['/privacy']">Politika privatnosti</a>
</footer>