@import "../../../styles/variables.scss";

.navigation-drawer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
  box-shadow: $orange 0px 1px 20px, $orange 0px 0px 0px 3px;

  overflow: hidden;

  background: linear-gradient(
    270deg,
    darken($secondary, 10%),
    darken($primary, 30%),
    darken($secondary, 40%)
  );
  background-size: 200% 200%;
  animation: gradientAnimation 40s ease infinite;

  transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &__header {
    display: flex;
    justify-content: space-evenly;

    margin-top: 10px;

    &__logo {
      display: flex;
      align-items: center;
      gap: 10px;
      text-wrap: nowrap;
      img {
        width: 80px;
      }
      span {
        font-size: large;
      }
    }
    &__button {
      position: absolute;
      top: 10px;
      transition: transform 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  20% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 50px;

  &-link {
    padding: 5px;
    text-align: left;
    color: $accent;
    background-color: $dark-accent;
    box-shadow: $accent 0px 1px 20px, $accent 0px 0px 0px 3px;

    &:hover {
      color: $primary;
    }
  }
}

.synthwave-sun {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
  transform: translate(-40%, 20%);

  background: radial-gradient(
    circle,
    darken($orange, 30%),
    darken($primary, 30%),
    darken($orange, 50%)
  );
  background-size: 500% 500%;
  animation: gradientAnimation 60s ease infinite;

  .outer-sun-ring {
    width: 420px;
    height: 420px;
    border-radius: 50%;
    transform: translate(-15%, -60px);

    background: radial-gradient(circle, transparent 70%, $orange 40%);
    filter: blur(12px);
    pointer-events: none;
  }
}
