@import "../../../styles/variables.scss";

.navigation-drawer {
  @media screen and (max-height: $smallHeight) {
    gap: 1rem;
  }
  gap: 100px;

  @media screen and (max-width: $smallWidth) {
    max-width: 100px;
    transition: width 0.2s ease-out;
  }
  max-width: 200px;
  transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  box-shadow: $tertiary 0px 1px 20px, $tertiary 0px 0px 0px 3px;

  overflow: hidden;

  background: linear-gradient(
    270deg,
    darken($tertiary, 50%),
    darken($primary, 30%),
    $secondary
  );
  background-size: 200% 200%;
  animation: gradientAnimation 40s ease infinite;

  &__header {
    display: flex;
    justify-content: space-evenly;

    margin-top: 10px;

    &__logo {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1px;
      text-wrap: nowrap;
      img {
        @media screen and (max-width: $smallWidth), (max-height: $smallHeight) {
          width: 50px;
        }
        width: 80px;
        cursor: pointer;
      }
      span {
        color: greenyellow;
        @media screen and (max-width: $smallWidth) {
          font-size: x-small;
        }
        font-size: medium;
      }
    }
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  20% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navigation {
  @media screen and (max-width: $smallWidth) {
    margin-left: 10px;
    gap: 50px;
  }

  @media screen and (max-width: $smallWidth) and (max-height: $smallHeight) {
    margin-left: 10px;
    gap: 25px;
  }

  @media screen and (max-height: $smallHeight) {
    gap: 1rem;
  }

  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 50px;

  &-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 5px 10px;
    text-align: left;
    color: $tertiary;
    background-color: $dark-accent;
    box-shadow: $tertiary 0px 1px 20px, $tertiary 0px 0px 0px 3px;

    @media screen and (max-height: $smallHeight) {
      font-size: large;
    }
    @media screen and (max-width: $smallWidth) {
      font-size: small;
      padding-left: 0.5rem;
    }
    padding-left: 1rem;
    font-size: 1.5rem;

    &:hover {
      color: $highlighted;
    }

    &__active {
      color: $highlighted;
    }
  }
}

.synthwave-sun {
  @media screen and (max-width: $smallWidth), (max-height: $smallHeight) {
    display: none;
  }

  position: absolute;
  bottom: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);

  background: radial-gradient(
    circle,
    darken($tertiary, 30%),
    darken($primary, 30%),
    darken($tertiary, 50%)
  );
  background-size: 500% 500%;
  animation: gradientAnimation 60s ease infinite;

  transition: transform 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);

  cursor: pointer;

  overflow: hidden;
  z-index: 10;
}

.sun-wrapper {
  @media screen and (max-width: $smallWidth), (max-height: $smallHeight) {
    display: none;
  }

  position: absolute;
  bottom: -300px;
  left: -25px;
  height: 300px;
  .outer-sun-ring {
    width: 420px;
    height: 420px;
    border-radius: 50%;

    transition: transform 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);

    background: radial-gradient(circle, transparent 70%, $tertiary 40%);
    filter: blur(12px);
    pointer-events: none;
  }
}

.collapse-expand {
  position: absolute;
  z-index: 999;

  @media screen and (max-width: $smallWidth) {
    bottom: 150px;
    left: 80px;
  }
  @media screen and (max-height: $smallHeight) {
    bottom: 50px;
  }
  bottom: 200px;
  left: 178px;
  transition: transform 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
}

footer {
  @media screen and (max-width: $smallWidth) {
    max-width: 100px;
  }
  max-width: 200px;

  width: 100%;
  position: absolute;
  bottom: 0;

  left: 0;
  padding: 0 10px;
  text-align: center;
  font-size: 12pt;

  border-top: 1pt $tertiary solid;
  background-color: $dark-accent;
  transition: transform 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);

  z-index: 20;

  a {
    color: $tertiary;
    &:hover {
      color: $primary;
    }
  }
}
