<h1>Naučimo programirati zajedno!</h1>

<h2>
    Želiš naučiti programirati od osnova, slušajući svog vršnjaka kako ti objašnjava programiranje?
</h2>
<p>Želim ti dobrodošlicu na svoju stranicu, prog_demos.com.</p>
<h2>Što je ova stranica?</h2>
<p>Ova stranica namijenjena je učenju programiranja, a zamišljena je kao nadopuna mojim javnim video zapisima na mom
    YouTube kanalu.</p>
<p>Mojim videozapisima na YouTubeu možeš pristupiti lijevo pod sekcijom "Uči", a zadacima vezanima uz svaki video i
    rješenjima možeš pristupiti lijevo pod sekcijom "Vježbaj".</p>
<p>
    Prije ove stranice koristio sam OneDrive, ali kako je kanal porastao i kako mi se mnogo ljudi krenulo javljati da
    sam im pomogao pri učenju, odlučio sam se upustiti u ovakav malo ozbiljniji pristup održavanju zadataka i rješenja.
</p>
<h2>Tko sam ja?</h2>
<p>Moje ime je Mislav Matijević, s programiranjem se bavim od osnovne škole, a posebno me veseli prenositi znanje o
    programiranju na druge!</p>
<p>Magistar sam informatike s Fakulteta organizacije i informatike Sveučilišta u Zagrebu, tri sam godine bio
    demonstrator iz kolegija Programiranje 1 (1. godina), a dvije godine sam i radio na fakultetu, prvo kao mladi
    istraživač, a potom i kao asistent. Danas se u tvrtki u kojoj radim bavim raznim programerskim zadacima, a između
    ostaloga i izdavanjem novih verzija jednog veoma velikog sustava.</p>
<p>Kao demonstrator na Programiranju 1 tijekom pandemije, umjesto demonstratura uživo snimao sam i objavljivao
    videozapise za svoje kolege studente s 1. godine kako bih im svejedno barem pokušao olakšati učenje jezika C++.
    Dobio sam mnoštvo pozitivnih reakcija, pa sam "iz čistog mira" snimio još i video zapise za kolegij Operacijski
    sustavi 1 i kolegij Web Dizajn i Programiranje.</p>
<p>Ništa me ne čini veselijim nego kada mi i dan danas studenti zahvale za pomoć pri učenju!</p>