@import "../../../styles/variables.scss";

.topic {
  max-height: 80%;
  max-width: 90%;

  border-radius: 20px;
  padding: 30px;

  background-color: $dark-accent;

  width: fit-content;
  overflow-y: scroll;

  box-shadow: $accent 0px 1px 20px, $accent 0px 0px 0px 3px;

  &__video-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

    &__subtopic {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;

      &__grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
      }
    }
  }
}
