@import "../../../styles/variables.scss";

.topic {
  max-height: 85%;
  max-width: 95%;

  padding: 30px;

  background: linear-gradient(50deg, darken($accent, 40%), $dark-accent);

  width: fit-content;
  overflow-y: scroll;
  scrollbar-color: $primary $accent;
  scrollbar-width: auto;

  box-shadow: $accent 0px 1px 20px, $accent 0px 0px 0px 3px;

  &__video-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

    &__subtopic {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      padding-bottom: 50px;
      border-top: 1px dashed $accent;
      border-bottom: 1px dashed $accent;

      &__grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
      }
    }
  }
}
