<h1>Uči iz videa po temama</h1>
<div *ngIf="topics === null" class="loader-wrapper">
    <p-progressSpinner ariaLabel="loading" />
</div>
<section class="topic" *ngFor="let topic of topics">
    <h2>{{topic.name}}</h2>
    <div class="topic__video-grid">
        <section class="topic__video-grid__subtopic" *ngFor="let subtopic of topic.subtopics">
            <h3>{{subtopic.name}}</h3>
            <div class="topic__video-grid__subtopic__grid">
                <app-video-card *ngFor="let video of subtopic.videos" [video]=video
                    (videoSelected)="onVideoSelected($event)"></app-video-card>
            </div>
        </section>
    </div>
</section>