h1 {
  padding-left: 20px;
}

router-outlet {
  padding: 20px;
}

.hackerman-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: lightblue;
  width: 100%;

  transform: translateX(10px);

  &__image {
    max-width: 120%;
  }
}
