@import "../../../styles/variables.scss";

.login-form {
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1.8rem;

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &__label {
      color: $accent;
    }

    &__input {
      width: 20rem;
      background-color: $dark-accent;
      color: $orange;
    }
  }
}
