<app-request-reset-password-dialog [(visible)]="requestPasswordResetDialogVisible" [captchaToken]="captchaToken" />
<form class="login-form" (ngSubmit)="onSubmit()">
    <div class="login-form__row">
        <p-floatLabel>
            <input pInputText id="identifier" type="text" class="form-control login-form__row__input" name="identifier"
                minlength="2" required [formControl]="identifier" />
            <label for="identifier" class="login-form__row__label">Korisničko ime ili email</label>
        </p-floatLabel>
    </div>
    <div class="login-form__row">
        <p-floatLabel>
            <input pInputText id="password" type="password" class="form-control login-form__row__input" name="password"
                minlength="8" required [formControl]="password" />
            <label for="password" class="login-form__row__label">Lozinka</label>
        </p-floatLabel>
    </div>
    <captcha action="login" [(captchaToken)]="captchaToken" />
    <p-button [disabled]="!captchaToken" *ngIf="!loginInProgress" label="Prijava" type="submit" icon="pi pi-sign-in" />
    <button [disabled]="!captchaToken" class="reset-password"
        [ngStyle]="{'filter': captchaToken ? 'brightness(100%)' : 'brightness(50%)'}"
        (click)="openResetPasswordDialog($event)">Zaboravljena lozinka?</button>
    <p-progressSpinner *ngIf="loginInProgress" />
</form>