@import "../../../styles/variables.scss";

.login-form {
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2rem;

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &__label {
      color: $accent;
    }

    &__input {
      @media screen and (max-width: $smallWidth) {
        width: 100%;
      }
      width: 20rem;

      background-color: $dark-accent;
      color: $tertiary;
    }
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100px;
  }

  .reset-password {
    font-size: smaller;
    border: none;
    background-color: transparent;
    color: $tertiary;
  }
}
