<div class="login-container">
    <div class="login-container__row">
        <p-floatLabel>
            <input pInputText id="identifier" type="text" class="login-container__row__input" />
            <label for="identifier" class="w-6rem" class="login-container__row__label">Korisničko ime ili email</label>
        </p-floatLabel>
    </div>
    <div class="login-container__row">
        <p-floatLabel>
            <input pInputText id="password" type="password" class="login-container__row__input" />
            <label for="password" class="w-6rem" class="login-container__row__label">Lozinka</label>
        </p-floatLabel>
    </div>
    <p-button label="Prijava" icon="pi pi-user" styleClass="w-10rem mx-auto" />
</div>