@import "../../../styles/variables.scss";

.column {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
}

.editor {
  height: 200px;
  resize: vertical;
  overflow-y: hidden;
  width: 50%;
}

.help-text {
  background-color: $tertiary;
}
