@import "../../../styles/variables.scss";

.column {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
}

.accordion-title {
  color: $primary;
}

.editor {
  height: 400px;
  overflow: hidden;
  width: 70%;
}

.help-text {
  color: $dark;
  background-color: $tertiary;
}
