@import "../../../../styles/variables.scss";

.task__wrapper {
  display: flex;

  &-info__wrapper {
    display: flex;
    flex-direction: column;

    transition: all 0.1s ease-in-out;

    background-color: $dark-accent;
    box-shadow: $secondary 0px 1px 20px, $secondary 0px 0px 0px 3px;
    margin-bottom: 20px;
    height: 95vh;
    overflow-y: auto;

    .console-output {
      padding: 10px 20px;
      background-color: black;
      color: lighten($color: $accent, $amount: 40%);
      width: fit-content;

      pre {
        text-wrap: wrap;
      }
    }
  }

  &-input__wrapper {
    display: flex;
    flex-direction: column;

    background-color: $dark-accent;
    padding: 20px 0px;
    box-shadow: $secondary 0px 1px 20px, $secondary 0px 0px 0px 3px;
    margin-bottom: 20px;
    height: 95vh;
    width: 50%;
    min-width: 300px;
    flex-grow: 1;

    h3 {
      padding-left: 20px;
    }

    ngx-monaco-editor {
      height: 100%;
    }

    &-controls-top {
      display: flex;
      justify-content: space-between;
      padding: 0 100px 10px;
    }

    &-controls-bottom {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.loading-spinner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-spinner-code {
  height: 100%;
}
