<div class="task__wrapper">
    <div class="task__wrapper-info__wrapper" *ngIf="task">
        <h2>Zadatak {{task.id_subtopic}}-{{task.order_num}} (#{{task.id}})</h2>
        <ul>
            <li>Ulaz: {{task.input}}</li>
            <li>Izlaz: {{task.output}}</li>
        </ul>
        <h2>Primjer:</h2>
        <div class="console-output">
            <pre>{{task.input_output_example|newline}}</pre>
        </div>
    </div>
    <div class="task__wrapper-input__wrapper">
        <ngx-monaco-editor (onInit)="onEditorReady($event)" [options]=editorOptions
            [model]=editorModel></ngx-monaco-editor>
        <div class="task__wrapper-input__wrapper-controls">
            <p-button pTooltip="Pomozi mi!" tooltipPosition="top" severity="info">💡</p-button>
            <p-button pTooltip="Motiviraj me!" tooltipPosition="top" severity="help">🪫</p-button>
            <p-button pTooltip="Testiraj!" tooltipPosition="top" severity="contrast">▶️</p-button>
        </div>
    </div>
</div>
<p-overlayPanel>
</p-overlayPanel>