@import "../../../../styles/variables.scss";

h2 {
  text-align: center;
  border-top: 1px solid transparentize($color: $secondary-accent, $amount: 0.75);
  padding-top: 20px;
}

.playground {
  @media screen and (max-width: $minProgrammingWidth) {
    margin-bottom: 20rem;
  }
  @media screen and (max-width: $smallWidth) {
    margin-bottom: 4rem;
  }

  &-info__wrapper {
    scrollbar-color: $secondary-accent $dark;
    scrollbar-width: auto;
    width: 100%;

    @media screen and (max-width: $smallWidth) {
      height: fit-content;
    }
    height: 95vh;

    display: flex;
    flex-direction: column;

    transition: all 0.1s ease-in-out;

    background-color: $dark-accent;
    box-shadow: $secondary 0px 1px 20px, $secondary 0px 0px 0px 3px;
    overflow-y: auto;

    .console-output {
      padding: 10px 20px;
      background-color: black;
      color: lighten($color: $accent, $amount: 40%);
      width: 100%;
      height: 100%;

      pre {
        text-wrap: wrap;
      }
    }

    .results {
      margin-top: auto;
    }
  }

  &-input__wrapper {
    @media screen and (max-width: $minProgrammingWidth) {
      display: none;
    }
    @media screen and (max-width: $smallWidth) {
      width: 100%;
      height: 70vh;
    }
    width: 50%;
    height: 95vh;
    min-height: 400px;

    display: flex;
    flex-direction: column;

    background-color: $dark-accent;
    padding: 20px 0px;
    box-shadow: $secondary 0px 1px 20px, $secondary 0px 0px 0px 3px;
    min-width: 300px;
    flex-grow: 1;

    h3 {
      padding-left: 20px;
    }

    app-editor {
      height: 100%;
    }

    &-controls-top {
      display: flex;
      justify-content: space-between;
      padding: 0 100px 10px;
    }

    &-controls-bottom {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.loading-spinner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-spinner-code {
  height: 100%;
}

.evaluating-spinner {
  align-self: center;
  position: absolute;
  top: 50%;
}

.evaluating-text {
  text-align: center;
  color: $primary;
}

.small-width-error-message {
  color: $tertiary;
}
