<p-dialog header="Zatraži novu lozinku" (onHide)="hide()" [modal]="true" [draggable]="false" [(visible)]="visible"
    [style]="{ width: '25rem' }">
    <form (ngSubmit)="requestPasswordReset()">
        <p class="instructions">Unesi email adresu svoga postojećeg računa.</p>
        <div class="email-row">
            <input pInputText id="email" type="text" class="form-control email-row__input" name="email" minlength="4"
                required [formControl]="email" ngModel email />
        </div>
        <captcha action="request-password-reset" [(captchaToken)]="captchaToken" />
        <div class="button-row">
            <p-button [disabled]="!captchaToken" label="Pošalji zahtjev za novom lozinkom" type="submit" />
        </div>
    </form>
</p-dialog>