@import "../../../styles/variables.scss";

.instructions {
  text-align: center;
  color: $tertiary;
}

.email-row {
  display: flex;
  align-items: center;
  margin: 2rem;

  &__input {
    width: 100%;
  }
}

.button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
