.register-page-wrapper {
  text-align: center;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 10%;
  }

  &__info {
    text-align: start;
  }
}
