@import "primeng/resources/themes/bootstrap4-dark-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "./styles/variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body,
app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: row;
}

.main-space {
  flex-grow: 1;
  max-height: 100%;
  max-width: 95%;

  padding: 0px 30px;

  width: fit-content;
  overflow-y: auto;
  scrollbar-color: $primary $accent;
  scrollbar-width: auto;
}

body {
  background-color: $dark;
  color: $text;
}

h1 {
  color: $primary;
}

nav {
  background-color: $secondary;
}

a {
  color: $primary;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  &:hover {
    color: $secondary;
  }
}

button.primary {
  background-color: $primary;
  color: $white;
}

button.secondary {
  background-color: $secondary;
  color: $white;
}

footer {
  background-color: $dark;
  color: $grey;
}

input,
textarea {
  background-color: $white;
  color: $dark;
}

.content {
  background-color: $white;
}

div.divider {
  border-top: 1px solid $grey;
}
