@import "primeng/resources/themes/luna-amber/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "./styles/variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body,
app-root {
  height: 100%;
  overflow: hidden;
}

app-root {
  display: flex;
  flex-direction: row;
}

.main-space {
  @media screen and (max-width: $smallWidth) {
    padding: 0px 10px 10px;
  }

  padding: 0px 30px 10px;

  flex-grow: 1;
  max-height: 100%;
  max-width: 100%;

  width: fit-content;
  overflow-y: auto;
  scrollbar-color: $dark $tertiary;
  scrollbar-width: auto;
}

body {
  background-color: $dark;
  color: $text;
}

h1 {
  color: $tertiary;

  @media screen and (max-width: $smallWidth) {
    font-size: larger;
  }
}

h2,
h3 {
  color: $accent-light;

  @media screen and (max-width: $smallWidth) {
    font-size: large;
  }
}

nav {
  background-color: $secondary;
}

a {
  color: $tertiary;
  text-decoration: none;

  &:hover {
    color: $highlighted;
  }
}

button.primary {
  background-color: $primary;
  color: $white;
}

button.secondary {
  background-color: $secondary;
  color: $white;
}

input,
textarea {
  background-color: $white;
  color: $dark;
}

.content {
  background-color: $white;
}

div.divider {
  border-top: 1px solid $grey;
}

.editor__red-squiggle-lines {
  position: relative;
  display: inline-block;
  min-width: 1em;
  padding: 0 0 5px 0;
  background-color: rgba(255, 77, 77, 0.256);
  border-radius: 5px;
  filter: blur(0.5px);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(
      to right,
      transparent,
      red 20%,
      transparent 40%,
      red 60%,
      transparent 80%
    );
    background-size: 5px 200%;

    animation: squiggle 30s infinite linear;
  }

  @keyframes squiggle {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 100px;
    }
  }
}
