@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: row;
}
