@import "../../../../styles/variables.scss";

.video-wrapper {
  @media screen and (max-width: $smallWidth) {
    max-width: 175px;
    height: 110px;
  }
  max-width: 300px;
  height: 170px;

  box-shadow: $tertiary 0px 0px 10px, $tertiary 0px 0px 0px 1px;

  .video-title {
    position: relative;
    height: auto;

    &__text {
      @media screen and (max-width: $smallWidth) {
        top: 0px;
      }
      top: 100px;

      width: 100%;
      text-align: center;
      position: absolute;

      font-size: medium;

      color: $accent;
      background-color: transparentize($color: $dark-accent, $amount: 0.25);
      pointer-events: none;

      z-index: 10;
    }
  }

  .full-height {
    height: 100%;
  }

  transition: box-shadow 0.1s linear;

  &:hover {
    box-shadow: $tertiary 0px 1px 20px;
    scale: 1.01;

    cursor: pointer;

    h3 {
      color: $highlighted;
    }
    .video-image {
      filter: saturate(150%);
    }
  }
}

.video-link {
  @media screen and (max-width: $smallWidth) {
    transform: none;
  }

  height: fit-content;
  transform: translateY(-13px);
}

.video-image {
  @media screen and (max-width: $smallWidth) {
    max-width: 175px;
    height: 110px;
  }

  width: 250px;
  height: 170px;

  filter: saturate(30%);
}
