.activation-wrapper {
  display: flex;
  height: 75%;
  align-items: center;
  justify-content: center;
}

.error-text {
  color: red;
  font-size: large;
}

.success-text {
  color: greenyellow;
  font-size: large;
}
